.contact_container {
    display: grid;
    justify-content: center;
    gap: 3rem;
    /* max-width: 1100px; */
    margin: 0 20px;
    justify-self: center;
}
.container ::-webkit-scrollbar{
display: none;
}


.contact_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact_info img {
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.address {
    display: grid;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 400px;
}

.address p {
    resize: horizontal;
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0;
    padding: 0 20px;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.heading {
    text-align: center;
    color: #93D8FF;
    font-size: 1.7rem;
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
    letter-spacing: 0.3rem;
    font-weight: 500;
    padding: 2% 0;
    margin-bottom: 0;
}



@media screen and (250px <=width <=350px) {
    .contact_info img {
        display: none;
    }

    .contact_info {
        display: grid;
        justify-content: center;
        justify-self: center;
        gap: 0;
    }

    .address p {
        font-size: 0.9rem;
        padding: 0 57px;
    }
}

@media screen and (350px <=width < 700px) {
    .contact_info img {
        display: none;
    }

    .contact_info {
        display: grid;
        justify-content: center;
        gap: 0;
        padding: 0 20px;
    }

    .address p {
        font-size: 1rem;
    }
}